* {
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.pomodoro {
    height: 100vh;
    /* background-color: #272727; */
    background: url("./img/KODERS_SCREEN_BG_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Main section
------------------------------- */
.main {
    width: 98%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

/* Display */
.display {
    margin-bottom: 20px;
}

.time {
    font-size: 72px;
    font-weight: 400;
    color: #111111;
    display: block;
    width: 100%;
    text-align: center;
}

.timeType {
    display: block;
    font-size: 24px;
    color: #1a4370;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.btnIcon {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    margin-left: 25px;
}
.input {
    border-radius: 40px;
    color: #111111;
    text-align: center;
    margin-top: 7px;
    border-radius: 10px !important;
}
.input:active,
.input:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
}
.btn-primary {
    background-color: #1a4370 !important;
    outline: 0 !important;
    border: none !important;
    border-radius: 10px !important;
}

.btnIcon:hover {
    opacity: 0.8;
}

.btnIcon:active,
.btnIcon:focus {
    outline: 0;
    opacity: 0.5;
}
i {
    cursor: pointer;
    color: #111111;
}

/* Bottom section
------------------------------- */
.bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 500px) {
    .bottomBar {
        position: relative;
    }
}

.controls {
    background: #1a4370;
    padding: 2.5px 0;
}

.controlsLink {
    line-height: 40px;
}
.controlsLink a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.controlsLink a:hover,
.controlsLink a:focus {
    text-decoration: underline;
}

.controlsCheck {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 500px) {
    .controlsCheck {
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 20px 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.check {
    display: inline-block;
    margin: 0 10px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    line-height: 40px;
}

@media (max-width: 500px) {
    .check {
        width: 100%;
        margin: 10px;
    }
}

.checkTitle {
    color: #fff;
    display: inline-block;
    margin: 0 5px;
}

/* Checkbox style and UI feedback */
.check input[type="checkbox"] {
    display: none;
}

.check label {
    border: 1px solid #ccc;
    height: 15px;
    width: 15px;
    margin: 0;
    padding: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.check label:hover {
    cursor: pointer;
}

.check input[type="checkbox"]:checked + label {
    border: 1px solid #dde00b;
}

.check input[type="checkbox"]:checked + label:after {
    background-color: #dde00b;
    position: absolute;
    display: block;
    bottom: 4px;
    left: 1px;
    width: 10px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.check input[type="checkbox"]:checked + label:before {
    background-color: #dde00b;
    position: absolute;
    display: block;
    bottom: 0px;
    right: -1px;
    width: 5px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.credits {
    color: #ffffff;
    background: #1a4370;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 300;
}
.sel {
    color: whitesmoke !important;
    background: #1a4370 !important;
    outline: none !important;
    border: none !important;
    border-radius: 10px !important;
}
/* Pulse heart */
.heart {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #dde00b;
    position: relative;
    display: inline-block;
    -webkit-animation: pulse 0.5s infinite alternate ease-in;
    animation: pulse 0.5s infinite alternate ease-in;
}

.heart:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dde00b;
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
}

.heart:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dde00b;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: rotate(-135deg) scale(1);
        transform: rotate(-135deg) scale(1);
    }
    to {
        -webkit-transform: rotate(-135deg) scale(1.2);
        transform: rotate(-135deg) scale(1.2);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: rotate(-135deg) scale(1);
        transform: rotate(-135deg) scale(1);
    }
    to {
        -webkit-transform: rotate(-135deg) scale(1.2);
        transform: rotate(-135deg) scale(1.2);
    }
}
